<body>
  <div>
    <h1>Lista de productos actualizables</h1>
    <ul id="product-list">
      {{#each products}}
      <li>{{this.title}}</li>
      {{/each}}
    </ul>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>
